{% extends "layout.html" %}

{% block hacky_js %}
{% endblock %}

{% block conditional_js %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.js') }}">
{% endblock %}

{% block conditional_css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css') }}">
{% endblock %}
{% block main %}

	<main>
		<h1>ue<font color=#00EE3B>q</font>stions</h1>

		ask a question</br>



		<form action="ask_question" method="post">
    		<textarea name="text" rows="7" cols="47" maxlength="10000"></textarea>
			</br>
    		<input type="submit" value = "ASK">
		</form>

		{% for entry in questions_and_answers %}
			<h3>
				<dco>6.21.17  9:38 pm<!--entry.fomratted_date--></dco>
				&nbsp;&nbsp;<qco>{{entry.question}}</qco>
			</h3>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{entry.answer}}
			<br/>
			<br/>

		{% endfor %}


	</main>
{% endblock %}
