{% extends "layout.html" %}

{% block hacky_js %}
{% endblock %}

{% block conditional_js %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.js') }}">
{% endblock %}

{% block conditional_css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css') }}">
{% endblock %}
{% block main %}

<main>
	<meta name="viewport" content="width=device-width, initial-scale=1.0,"/>
	<body>
		<body style="word-wrap: break-word;">
		</body>
		<body bgcolor=#323232>
		</body>
		<body text=white>
		</body>
		<body link="#00FF00">
		</body>
		<body vlink=#67FF79>
		</body>

		<h1>ue<font color=#00EE3B>q</font>stions</h1>


		ask a question</br>



		<form action="ask_question" method="post">
    		<textarea name="text" rows="7" cols="47" maxlength="10000"></textarea>
			</br>
    		<input type="submit" value = "ASK">
		</form>

		{% for entry in questions_and_answers %}
			<h3>
				<qco>{{entry.question}}</qco>
			</h3>
			<br/>
			{{entry.answer}}

		{% endfor %}


</main>
{% endblock %}
